*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    max-width: 1440px;
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 63px  35px  3px;
  }

  a{
    text-decoration: none;
    color: black;
  }

  a:hover{
    color: #20bc7e;
  }

  li{
    list-style: none;
    cursor: pointer;
  }

  ul{
    display: flex;
    align-items: center;
    column-gap: 68px;
    font-weight: 800;
    font-size: 18px;
}


/* main */
.contener{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
 
}
.box{
 padding: 29px;
 line-height: 28px;
 border-radius: 13px;
 box-shadow:  0px 0px 3px 4px #908d8d;
 border: none;
} 

label{
  font-weight: 700;
  font-size: 16px;
}

.input{
  width: 260px;
  height: 32px;
  border-radius: 14px;
  border: none;
}
h1{
  text-align: center;
  padding-bottom: 25px;
}
.textarea{
  width: 260px;
  height: 100px;
  border-radius: 8px;
  border: none;
  padding-bottom: 60px;
  
}
button{
  color: #fff;
  background-color: #20bc7e;
  font-size: 20px;
  font-weight: 700;
  padding: 8px 94px;
  border-radius: 15px;
  border: none;
  margin-top: 15px;
  
}